<body background="https://img1.goodfon.ru/original/1680x1050/3/8f/otkrytka-makro-fon.jpg" >
</body>
<div class="row">
  <div class="col-xs-offset-4 col-xs-4">

    <h1 align="center">Sign Up</h1>

    <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
            <div class="alert alert-warning" >
              <h2>Form is invalid</h2>
              <ul>
                <% for message in @user.errors.full_messages %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true" ></i></span>
          <%= f.text_field :username, placeholder:"Username", class: "form-control" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true" ></i></span>
          <%= f.text_field :first_name, placeholder:"First name", class: "form-control" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true" ></i></span>
          <%= f.text_field :last_name, placeholder:"Last name", class: "form-control" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true" ></i></span>
          <%= f.text_field :birthday, placeholder:"Birthday", class: "form-control" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true" ></i></span>
          <%= f.email_field :email, placeholder:"Email", class: "form-control" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true" ></i></span>
          <%= f.password_field :password, placeholder:"Password", class: "form-control" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true" ></i></span>
          <%= f.password_field :password_confirmation, placeholder:"Password_confirmation", class: "form-control" %>
        </div>

        <p class="button"><%= f.submit class: "btn" %> </p>
    <% end %>
  </div>
</div>
