<!DOCTYPE html>
<html>
<body background="https://img1.goodfon.ru/original/1680x1050/3/8f/otkrytka-makro-fon.jpg" >
<head>
  <title>Sgc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href=/>А туда ли ты зашел?</a>
  </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div id="user_nav">
        <% if current_user %>
          <ul class="nav navbar-nav navbar-link navbar-right">
         <p class="navbar-text">  Logged in as <%= current_user.email %>.
          <li><%= link_to "Log out", log_out_path %></li>
        </ul>
      <% else %>
       <ul class="nav navbar-nav navbar-link navbar-right">
         <li><a href="sign_up">Sign up</a></li>
          <li><a href="log_in">Log in</a></li>
        </ul>
          <% end %>
        </li>
    </div>
  </div>
</nav>
<div class="container" >
  <% flash.each do |name, msg|%>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
          <button class="close" type="button" data-dismiss="alert" >
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <%= msg %>
          <script>
              setTimeout("$('.alert').fadeOut('slow')", 3000);
          </script>
      <%end%>
  <%end%>
  <%= yield %>
</div>



</body>
</html>
